Django==6.0.6
asgiref==3.11.1
certifi==2026.7.22
charset-normalizer==3.4.9
cloudinary==1.45.0
dj-database-url==3.1.2
django-cloudinary-storage==0.3.0
gunicorn==26.0.0
idna==3.18
packaging==26.2
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
psycopg2-binary