{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="hero-section">

    <div class="container">

        <div class="row align-items-center min-vh-100">

            <!-- Left -->

            <div class="col-lg-6">

                <p class="hero-subtitle">
                    👋 Hello, I'm
                </p>

                <h1 class="hero-title">
                    Shreyansh Upadhyay
                </h1>

                <h3 class="typing-text">

                    <span id="typing"></span>

                </h3>

                <p class="hero-description">

                    Passionate Python & Django Developer who loves building
                    modern web applications with clean UI and efficient backend.

                </p>

                <div class="hero-buttons mt-4">

                    <a href="{% url 'contact' %}" class="btn btn-info btn-lg me-3">
                        Hire Me
                    </a>

                    <a href="{% static 'resume/resume.pdf' %}" class="btn btn-outline-light btn-lg" target="_blank">

                        Download Resume

                    </a>

                </div>

            </div>

            <!-- Right -->

            <div class="col-lg-6 text-center d-flex justify-content-center">
                <img src="{% static 'images/profile.jpg' %}" class="hero-img img-fluid">
            </div>

        </div>

    </div>

</section>
<div class="scroll-down">

    <i class="bi bi-mouse"></i>

    <p>Scroll</p>

</div>
<section class="stats-section py-5">

    <div class="container">

        <div class="row text-center">

            <div class="col-md-4">

                <h1 class="counter" data-target="{{ project_count }}">0</h1>

                <p>Projects Completed</p>

            </div>

            <div class="col-md-4">

                <h1 class="counter" data-target="{{ technology_count }}">0</h1>
                <p>Technologies</p>

            </div>

            <div class="col-md-4">

                <h1 class="counter" data-target="{{ certificate_count }}">0</h1>

                <p>Certificates</p>

            </div>

        </div>

    </div>

</section>

{% endblock %}