{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}

<section class="projects-section py-5">

    <div class="container">

        <div class="text-center mb-5 mt-5">
            <h5 class="text-info">MY WORK</h5>
            <h1 class="fw-bold">Projects That I Have Worked On</h1>
            <p class="text-secondary">
                Here are some of my recent projects.You can view the source code and live demos of these projects by clicking on the respective buttons.
            </p>
        </div>

        <div class="row g-4">

            {% for project in projects %}

            <div class="col-lg-4 col-md-6">

                <div class="project-card">

                    {% if project.image %}
                    <img src="{{ project.image.url }}" class="project-img" alt="{{ project.title }}">
                    {% else %}
                    <img src="{% static 'images/no-image.png' %}" class="project-img" alt="No Image">
                    {% endif %}

                    <div class="p-4">

                        <h3>{{ project.title }}</h3>

                        <p>
                            {{ project.description|truncatewords:20 }}
                        </p>

                        <p class="text-info">
                            {{ project.technologies }}
                        </p>

                        <div class="d-flex gap-2">

                            {% if project.github_link %}
                            <a href="{{ project.github_link }}" target="_blank" class="btn btn-info btn-sm">
                                GitHub
                            </a>
                            {% endif %}

                            {% if project.live_demo %}
                            <a href="{{ project.live_demo }}" target="_blank" class="btn btn-outline-light btn-sm">
                                Live Demo
                            </a>
                            {% endif %}
                            <a href="{% url 'project_detail' project.id %}" class="btn btn-primary btn-sm">
                                View Details
                            </a>

                        </div>

                    </div>

                </div>

            </div>

            {% empty %}

            <div class="col-12 text-center">

                <h3>No Projects Added Yet</h3>

                <p class="text-secondary">
                    Please add projects from the Django Admin Panel.
                </p>

            </div>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}